Not sure if this is feasible. [Section 6 of RFC 3629](https://www.rfc-editor.org/rfc/rfc3629.html#section-6) says (emphasis added):

_A protocol SHOULD NOT forbid use of U+FEFF as a signature for
those textual protocol elements for which the protocol does not
provide character encoding identification mechanisms, **when a ban
would be unenforceable, or when it is expected that
implementations of the protocol will not be in a position to
always use the mechanisms properly.**_

I think in our case this would not be enforceable

> I think in our case this would not be enforceable

Correct. But I did neither forbid nor enforce anything. I just added a note for implementers (in the *Common implementation concerns* section) that

1. some applications might write a BOM header
2. some applications might not be able to read BOM headers (e.g. like almost any Java based library)
3. BOM headers are unnecessary/useless when using UTF-8 only
4. clarify that the BOM itself is out of scope of this RFC


In which of those points do you see a problem?
How would you suggest to re-phrase it in order to prevent any misunderstandings?

My main concern is the last sentence: "With the default encoding of UTF-8 specified by this document a BOM header is unnecessary and is out of scope of this specification."

Instead, maybe just reference RFC 3629:
"Implementors should review section 6 of RFC 3629 and section 23.8 of the Unicode Standard"