ASCII and UTF-8 control characters are handled differently

As we started in our discussion in #13 the handling of control characters in our ABNF specification is different between ASCII and UTF-8.

> textdata = WSP / %x21 / %x24-2B / %x2D-7E / %x80-10FFFF

So for ASCII we excluded %x00-1F and %x7F. In UTF-8 we allow [C1 control characters](https://www.unicode.org/charts/PDF/U0080.pdf) (%x80-9F).

This is also not handled by RFCs like [RFC 8259](https://tools.ietf.org/html/rfc8259).

There might be even more invalid character sequences In the range of %x80-10FFFF. I'm wondering if this could also be security relevant for some implementations. But maybe it's simply out of the scope of a proper ABNF specification and has to be handled by the implementation specific character reader/writer.

For CSV, it may not matter, especially since we allow binary as per section 4. Perhaps just exclude %x00-1F and %x7F, and leave the rest?

I could live with that, it just feels pretty inconsistent (and lazy ;-)). To really allow binary data (which does not seem to be a fit for a text/xxx mime type) we'd also need to allow the ASCII control characters.

If we allow unicode characters in the current way (%x80-10FFFF) it does not only contain control characters but also a lot of byte sequences which are not valid UTF-16 characters.

The RFC 8259 handled this for example in [section 8.2 Unicode Characters](https://www.rfc-editor.org/rfc/rfc8259.html#section-8.2):

> [...]
>    However, the ABNF in this specification allows member names and
>    string values to contain bit sequences that cannot encode Unicode
>    characters; for example, "\uDEAD" (a single unpaired UTF-16
>    surrogate).  Instances of this have been observed, for example, when
>    a library truncates a UTF-16 string without checking whether the
>    truncation split a surrogate pair.  The behavior of software that
>    receives JSON texts containing such values is unpredictable; for
>    example, implementations might return different values for the length
>    of a string value or even suffer fatal runtime exceptions.


Personally, I'd prefer to document this topic like [section 4 of RFC 3629](https://tools.ietf.org/html/rfc3629#section-4):

> 4.  Syntax of UTF-8 Byte Sequences
> 
>    For the convenience of implementors using ABNF, a definition of UTF-8
>    in ABNF syntax is given here.
> 
>    A UTF-8 string is a sequence of octets representing a sequence of UCS
>    characters.  An octet sequence is valid UTF-8 only if it matches the
>    following syntax, which is derived from the rules for encoding UTF-8
>    and is expressed in the ABNF of [RFC2234].
> 
>    UTF8-octets = *( UTF8-char )
>    UTF8-char   = UTF8-1 / UTF8-2 / UTF8-3 / UTF8-4
>    UTF8-1      = %x00-7F
>    UTF8-2      = %xC2-DF UTF8-tail
>    UTF8-3      = %xE0 %xA0-BF UTF8-tail / %xE1-EC 2( UTF8-tail ) /
>                  %xED %x80-9F UTF8-tail / %xEE-EF 2( UTF8-tail )
>    UTF8-4      = %xF0 %x90-BF 2( UTF8-tail ) / %xF1-F3 3( UTF8-tail ) /
>                  %xF4 %x80-8F 2( UTF8-tail )
>    UTF8-tail   = %x80-BF
> 
>    NOTE -- The authoritative definition of UTF-8 is in [UNICODE].  This
>    grammar is believed to describe the same thing Unicode describes, but
>    does not claim to be authoritative.  Implementors are urged to rely
>    on the authoritative source, rather than on this ABNF.
> 

Maybe we can just reference that RFC and leave it as that? Something like:

```
textdata = WSP / %x21 / %x24-2B / %x2D-7E / UTF8-data
UTF8-data = UTF8-2 / UTF8-3 / UTF8-4 ; as defined in section 4 of RFC 3629
```

Your proposal seems fine to me. Although we should also add a note about the authoritative definition of UTF-8 and link it to UNICODE – like RFC 3629 did.

>    [UNICODE]   The Unicode Consortium, "The Unicode Standard -- Version
>                4.0",  defined by The Unicode Standard, Version 4.0
>                (Boston, MA, Addison-Wesley, 2003.  ISBN 0-321-18578-1),
>                April 2003, <http://www.unicode.org/unicode/standard/
>                versions/enumeratedversions.html#Unicode_4_0_0>.